
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to book store application</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1>Welcome to book store</h1>
    <h1>@DateTime.Now.ToString("dd-M-yy")</h1>
    <h1>sum = @(6+7)</h1>

    @{
        int a = 4;
        int b = 5;
        int c = a + b;
    }
    <h1>@c</h1>
    <img src="~/images/logo.png" class="logo" alt="logo" />

    <input type="button" value="click me" class="btn btn-danger" />
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function () {
        alert("page loading");
    });
</script>
