
@{
    Layout = "_Layout";
}


    <h1>Welcome to Home Page</h1>
    <h1>@DateTime.Now.ToString("dd-M-yy")</h1>
    <h1>sum = @(6+7)</h1>

    @{
        int a = 4;
        int b = 5;
        int c = a + b;
    }
    <h1>@c</h1>
    <img src="~/images/logo.png" class="logo" alt="logo" />

   